.movie-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px auto;
  gap: 16px;
  padding-top: 16px;  
  font-family: sans-serif; 
}

.year-label{
  grid-column: 1 / -1;
  height: fit-content !important;
}

.card {
  grid-column: span 1;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  margin: 8px;
  transition: transform 0.3s;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 50%;
  /* object-fit: cover; */
}

.card-image:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1rem;
  margin: 0;
  text-align: -webkit-center;
}

.card-description {
  font-size: 1em;
  color: #555;
  text-align: -webkit-center;
}

.card-genre-div{
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  height: 35px;
}

.card-genre{
  font-size: 1em;
  color: #555;
  text-align: left;
}

.card-content {
  padding: 16px;
  text-overflow: ellipsis;
  height: 50%;
}


.card:hover {
  transform: scale(1.05);
}


/* Media Queries */
@media (max-width: 1200px) {
  .movie-card {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 50px auto;
  }
}

@media (max-width: 992px) {
  .movie-card {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px auto;
  }
}

@media (max-width: 768px) {
  .movie-card {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px auto;
  }

  .card{
    height: 100%;
  }

  .card-content{
    height: 20%;
  }

  .card-title {
      font-size: 1.2em;
      text-align: left;
  }

  .card-description {
      font-size: 0.9em;
  }
}

@media (max-width: 576px) {
  .movie-card {
    grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50px auto;
  }

  .card{
    height: 100%;
  }

  .card-content {
      padding: 8px;
      height: 20%;
  }

  .card-title {
      font-size: 1em;
      text-align: left;
  }

  .card-description {
      font-size: 0.8em;
  }

  .card-image {
      height: 130px;
  }
}


.movie-year{
  font-size: 24px;
  font-weight: 500;
  padding-top: 5px;
}

.ratings-div{
    height: 30px;
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: space-evenly;
}
